{% extends "layout.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
</head>

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

        <div class="container">

            <a class="navbar-brand mr-4" href="/">IMDB Quiz</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link disabled p-2 mr-3" href="#">Welcome {{currentUser }}</a>
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>

                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" data-toggle="modal" data-target="#myModal">Refer a Friend</a>

                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <center>
        <h3>LeaderBoards</h2>
    </center>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Best Score</th>
            </tr>
        </thead>

        <tbody>
            {%for userdata in userDatas.items %}
            <tr>
                <td>{{userdata.username}}</td>
                <td>{{userdata.email}}</td>
                <td>{{userdata.recentScore}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<center>
{% for pageNumber in userDatas.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}

{% if pageNumber %}
{% if userDatas.page==pageNumber %}
<a class="btn btn-primary mb-4" href="{{url_for('dashboard',page=pageNumber)}}">{{ pageNumber }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{url_for('dashboard',page=pageNumber)}}">{{ pageNumber }}</a>
{% endif %}
{%else%}
...
{% endif %}
{% endfor %}
</center>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h5 class="modal-title">Liked IMDB Quiz? Your shareable referral code</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
          Your code : {{referralCode}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
{% endblock content %}