{% extends "quizSideBarBaseLayout.html"%}

{% block content %}

<div class="container">

    <p>Please select your answer and continue:</p>

    <form method="POST" action="{{url_for('takeQuiz')}}">

        <ol>
            {% for question in questions %}
            <p>{{loop.index}}. {{question.question}}</p>
            <div class="form-check pb-3">
                <input type="radio" class="form-check-input" name={{question.qid}} value="1"><label
                    class="form-check-label">{{question.choice1}}</label><br>
                <input type="radio" class="form-check-input" name={{question.qid}} value="2"><label
                    class="form-check-label">{{question.choice2}}</label><br>
                <input type="radio" class="form-check-input" name={{question.qid}} value="3"><label
                    class="form-check-label">{{question.choice3}}</label><br>
                <input type="radio" class="form-check-input" name={{question.qid}} value="4"><label
                    class="form-check-label">{{question.choice4}}</label><br>
            </div>
            {% endfor%}
        </ol>
        <div class="row justify-content-center mb-5">
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>

    </form>
</div>

{% endblock content %}